# Folders to be excluded
**/.idea/
**/.ipynb_checkpoints/
/tensorboard/*
Extras/Code Obfuscation/*

# Files to be excluded
**/.DS_Store
Extras/~$Sredictio Data Tracking.xlsx
Extras/~$Sredictio Field Tests.xlsx
Extras/~$Sredictio Update Plans.xlsx
Extras/Get Current Timestamp.py
