# Folders to be excluded
**/.idea/
**/.ipynb_checkpoints/
/tensorboard/*

# Files to be excluded
**/.DS_Store
~$Sredictio Data Tracking.xlsx
Extras/Field Tests/~$Sredictio Field Tests.xlsx
Extras/Update Plans/~$Sredictio Update Plans.xlsx
